- name: Set path for cron scripts
  become: true
  cronvar:
    name: PATH
    value: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    user: clojars

- name: Set maven indexer cron job
  become: true
  cron:
    name: "run maven indexer"
    user: "clojars"
    minute: "5"
    hour: "*/4"
    job: "~/bin/maven-index-repo ~/releases/clojars-web-current.jar ~/indexer/indexer-core-{{ indexer_version }}-cli.jar ~/repo"


- name: Set rebuild search index cron job
  become: true
  cron:
    name: "Rebuild search index"
    user: "clojars"
    minute: "40"
    hour: "*/4"
    job: "~/bin/build-search-index ~/releases/clojars-web-current.jar"
  
- name: Set update pom list cron job
  become: true
  cron:
    name: "update pom list"
    user: "clojars"
    minute: "0"
    job: "~/bin/update-pom-list ~/releases/clojars-web-current.jar"

- name: Set stat generation cron job
  become: yes
  cron:
    name: "combine cdn logs and update stats"
    user: "clojars"
    minute: "15"
    hour: "1"
    job: "~/bin/update-stats ~/releases/clojars-web-current.jar"

- name: Set app-user local tmp cleanup job
  become: true
  cron:
    name: "Cleanup old local tmp files older than 2 days every hour"
    user: "clojars"
    minute: "0"
    job: "find ~/tmp -mtime +2 -exec rm -rf {} +"
