# {{ ansible_managed }}

limit_req_zone $binary_remote_addr zone=login:10m rate=1r/s;

upstream clojars-web {
  server localhost:8001 max_fails=3;
}

server {
  # Redirect http://www.clojars.org to http://clojars.org
  listen [::]:80 ipv6only=off;
  server_name www.clojars.org www new.clojars.org;
  rewrite  ^ http://clojars.org$request_uri?  permanent;
}

server {
  # Redirect https://www.clojars.org to http://clojars.org
  listen [::]:443 ipv6only=off;
  ssl on;
  server_name www.clojars.org www new.clojars.org;
  rewrite  ^ http://clojars.org$request_uri?  permanent;
  ssl_certificate ssl/clojars.org.crt;
  ssl_certificate_key ssl/clojars.org.key;
  add_header Strict-Transport-Security "max-age=31536000";
}

server {
  # listen 443 default;
  listen [::]:443 default;
  server_name clojars.org;
  access_log  /var/log/nginx/clojars.access.log;
  root /var/www/clojars;

  ssl on;
  ssl_certificate ssl/clojars.org.crt;
  ssl_certificate_key ssl/clojars.org.key;

  add_header Strict-Transport-Security "max-age=31536000";

  proxy_set_header X-Forwarded-Proto $scheme;

  error_page 502 =503 /502.html;

  location / {
    try_files $uri @clojars_webapp;
  }

  location /stylesheets {
    expires 4h;
    proxy_pass http://clojars-web;
    add_header Content-Type text/css;
  }

  location /images {
    expires 7d;
    proxy_pass http://clojars-web;
  }

  location /images/clojars-logo-big.png {
    return 301 https://clojars.org/images/clojars-logo@2x.png;
  }

  location /repo/quantum/datomic-pro {
    return 451;
  }

  location /repo {
    root /home/clojars;
    autoindex on;
    expires 1w;
    log_not_found off;
    client_max_body_size 20m;
    limit_except GET HEAD {
      # send uploads to webapp
      proxy_pass http://clojars-web;
    }
    # Set expiry to 1h after last-modified time for all-jars, all-poms and feed
    #location ~ ^/repo/(all-jars\.clj(\.gz)?|all-poms\.txt(\.gz)?|feed\.clj\.gz)(\.md5|\.sha1)?$ {
    #  expires modified 1h5m;
    #}

    location /repo/opencv-native {
       client_max_body_size 100m;
    }

    if ($request_method ~ "GET|HEAD") {
      rewrite ^/repo$ https://repo.clojars.org redirect;
      rewrite ^/repo/(.*)$ https://repo.clojars.org/$1 redirect;
    }
  }

  location /login {
    limit_req zone=login burst=5;

    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_pass http://clojars-web;
  }

  location @clojars_webapp {
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_pass http://clojars-web;
  }

  location /stats {
    rewrite ^/stats$ https://repo.clojars.org/stats redirect;
    rewrite ^/stats/(.*)$ https://repo.clojars.org/stats/$1 redirect;
  }

  location = /robots.txt { root /var/www/clojars; }
  location = /google965fb6af102ec54f.html { root /var/www/clojars; }
}

server {
  #listen 80 default;
  listen [::]:80 default;
  server_name clojars.org;
  return 301 https://clojars.org$request_uri;
}
