# {{ ansible_managed }}
description "Clojars webapp (production)"

respawn
start on filesystem
stop on shutdown

chdir /home/clojars
exec su clojars -c 'java -Dnla.node=clojars -Xmx512m -server "-XX:OnOutOfMemoryError=kill -9 %p" -Dclojars.config.file=data/conf/production_config.edn -cp releases/clojars-web-current.jar clojars.main 2>&1 | /usr/bin/cronolog -S /logs/clojars.log /logs/%Y%m/clojars.%Y-%m-%d.log'
