export CDN_COMBINED_LOG_CONTAINER={{ cdn_combined_log_container }}
export CDN_LOG_CONTAINER={{ cdn_log_container }}
export CLOUDFILES_CONTAINER={{ cloudfiles_container }}
export CLOUDFILES_TOKEN={{ cloudfiles_token }}
export CLOUDFILES_USER={{ cloudfiles_user }}
