;; {{ ansible_managed }}
{:cdn-token "{{ cdn_token }}"
 :cloudfiles-container "{{ cloudfiles_container }}"
 :cloudfiles-token "{{ cloudfiles_token }}"
 :cloudfiles-user "{{ cloudfiles_user }}"
 :deletion-backup-dir "/home/clojars/repo-deleted"
 :port 8001 ;; remove when clojars-web postgres branch merged
 ;; :db {:password "{{ postgres_password }}"} ;; uncomment when clojars-web postgres branch merged
 :repo "repo"
 :sentry-dsn "{{ sentry_dsn }}"}
