# {{ ansible_managed }}
# See man 5 aliases for format
# Aliases

{%- for alias in email_aliases %}

{{ alias | join (': ')}}

{%- endfor %}

# Humans
contact: {{ admins | selectattr("contact", "equalto", true) | map(attribute='name') | join(', ') }}

{%- for admin in admins %}

{{ admin.name }}: {{ admin.email }}

{%- endfor %}
