# {{ ansible_managed }}
# Customisation to fail2ban jails go here and overrides the default config in /etc/fail2ban/jail.conf

[DEFAULT]
# "bantime" is the number of seconds that a host is banned.
bantime  = 1800

[ssh]
enabled  = true

[ssh-ddos]
enabled  = false

# Jail for more extended banning of persistent abusers
# !!! WARNING !!!
#   Make sure that your loglevel specified in fail2ban.conf/.local
#   is not at DEBUG level -- which might then cause fail2ban to fall into
#   an infinite loop constantly feeding itself with non-informative lines
[recidive]
enabled  = true
