---
aws_access_key_id: foo
aws_secret_access_key: bar
cdn_token: abcd
github_oauth_client_id: asdf
github_oauth_client_secret: asdf
postgres_host: something.us-east-2.rds.amazonaws.com
postgres_password: sekret
postgres_username: auser
sentry_dsn: https://abc:def@sentry.io/1234
sentry_token: atoken
ses_username: asdf
ses_password: asdfd
