/var/log/nginx/*.log {
        daily
        missingok
        rotate 100
        compress
        delaycompress
        notifempty
        create 0640 www-data adm
        sharedscripts
        prerotate
                if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
                        run-parts /etc/logrotate.d/httpd-prerotate; \
                fi \
        endscript
        # This is why the next line will have a diff error when upgrading the package
        # http://unix.stackexchange.com/questions/209585/nginx-logrotate-error-on-cron-job
        postrotate
                start-stop-daemon --stop --signal USR1 --quiet --pidfile /run/nginx.pid --name nginx
        endscript
}