# {{ ansible_managed }}
[Unit]
Description=Clojars webapp (production)
After=clojars_deploy.service

[Service]
User=clojars
Restart=on-failure
WorkingDirectory=/home/clojars

ExecStart=/bin/java -Dnla.node=clojars -Dlog.level=INFO -Dlog.dir=/var/log/clojars \
  -Daws.region=us-east-2 \
  -Dcom.sun.management.jmxremote \
  -Dcom.sun.management.jmxremote.port=4111 \
  -Dcom.sun.management.jmxremote.authenticate=false \
  -Dcom.sun.management.jmxremote.ssl=false \
  -Xmx2g \
  -Xms2g \
  -XX:+HeapDumpOnOutOfMemoryError \
  -XX:+ExitOnOutOfMemoryError \
  -cp releases/clojars-web-current.jar clojars.main

[Install]
WantedBy=multi-user.target
