# {{ ansible_managed }}
[Unit]
Description=Clojars webapp (production)
After=clojars_deploy.service

[Service]
User=clojars
Restart=on-failure
WorkingDirectory=/home/clojars
Environment="CLOJARS_EXTRA_CONFIG=data/conf/production_config.edn"

ExecStart=/bin/java -Dnla.node=clojars -Dlog.level=INFO -Dlog.dir=/var/log/clojars \
  -Daws.region=us-east-2 \
  -Xmx1024m \
  -XX:+HeapDumpOnOutOfMemoryError \
  -XX:+ExitOnOutOfMemoryError \
  -cp releases/clojars-web-current.jar clojars.main

[Install]
WantedBy=multi-user.target
