;; {{ ansible_managed }}
{:base-url "https://clojars.org"
 :cdn-token "{{ cdn_token }}"
 :deletion-backup-dir "/home/clojars/repo-deleted"
 :db {:host "{{ postgres_host }}"
      :password "{{ postgres_password }}"}
 :mail {:from "contact@clojars.org"
        :hostname "email-smtp.us-east-1.amazonaws.com"
        :port 587
        :tls? true
        :username "{{ ses_username }}"
        :password "{{ ses_password }}"}
 :repo "repo"
 :s3 {:access-key-id "{{ aws_access_key_id }}"
      :secret-access-key "{{ aws_secret_access_key }}"
      :region "us-east-2"
      :stats-bucket "clojars-stats-production"}
 :sentry-dsn "{{ sentry_dsn }}"}
