---
yeller_api_key: yk_w_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
yeller_env: development
admins: [{ name: test1, email: test1@example.com, contact: yes, active: yes },
         { name: test2, email: test2@example.com, contact: no, active: yes },
         { name: test3, email: test3@example.com, contact: yes, active: no },
         { name: test4, email: test4@example.com, contact: yes, active: no }]
email_aliases: [[ root, contact ],
                [ postmaster, root ],
                [ webmaster, contact ],
                [ hostmaster, contact ]]
UBUNTU_COMMON_ROOT_PASSWORD: r123
UBUNTU_COMMON_LOGWATCH_EMAIL: root